<h1>Scrabble Leaderboard</h1>
<h4><a href="/games">Click here for games</a></h4>
<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Average Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Leaderboard.list.each do |member| %>
  <tr>
    <td><%= member[:member].name %></td>
    <td><%= member[:member].city %></td>
    <td><%= member[:score_avg].round(2) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>

